<!DOCTYPE html>
<html>
<head>
    <title>Lỗi</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/sidebar :: sidebar"></div>
<div class="content-with-sidebar">
    <div class="container">
        <h1>Có lỗi xảy ra</h1>
        <p th:text="${errorMessage}"></p>
        <a href="/students">Quay lại danh sách</a>
    </div>
</div>
</body>
</html>
